a{
    color: rgb(255, 0, 242); /* Commentaire */
}

a:hover{
    color: green;
}

a:active, a:visited{
    color: red;
}

.movies{
    color: brown;
    font-weight: bold;
}

.box{
    width: 400px;
    height: 500;
}

.box:nth-child(1) {
    background-color:orange;
    order: 3; /* Ordre des éléments */
}

.box:nth-child(2) {
    background-color:blue;
    flex: 1; /* prend la place restante */
}

.box:nth-child(3) {
    background-color:green;
}

.box:nth-child(4) {
    background-color:blueviolet;
}

#hobby{
    color: aqua;
    text-decoration: line-through;
}

h1{
    color: darkslategray;
    width: 50%;
    /* Connaitre : 
    min-width, min-height,
    max-width, max-height
    */
    /* 
    background-color: purple;
    opacity: 0.5; => Transparence, entre 0 et 1
    */
    border: 1px black inset; /* border-top, border-left, ... */
    border-radius: 30px / 20px; /* pour des bordures arrondies */
    /*box-shadow: 5px 3px 5px blue;*/
    /*text-shadow: 5px 5px 5px black;*/
}

p{
    font-size: 1.3em; /* Taille du texte (en px, em ou small, medium etc) */
    font-family:Georgia, 'Times New Roman', Times, serif; /* Police */
    font-style: italic;
    text-align: justify;
    color: gray;
    margin: 50px; /* marge extérieure, margin : 1px 1px 1px 1px => high, right, bottom, left */
    border: 2px black solid;
    padding: 2px; /* marge intérieure */
    /* 
    Quand le texte dépasse d'une bordure => overflow : scroll
    Quand le mot dépasse => word-wrap : break-word
    */
}


.flottant{
    float: left;
}

.education{
    clear: both;
}

body{
    background-color: aliceblue;
    display: flex;
    /*flex-direction: row-reverse;*/ /* inverse l'ordre des lignes */
    flex-wrap: wrap; /* les blocs vont à la ligne quand ils n'ont plus de place */
    justify-content:space-between;
    align-items:baseline; /* ou align-content quand on a plusieurs lignes */
    /*background-image: url("img/Snapchat-1922629132.jpg");
    background-attachment: fixed;
    background-repeat: repeat;*/
    /* En une fois : background : url("image") fixed no-repeat */
}

/* 
*{} : cible toutes les balises 
h1 + p {} : cible 1er paragraphe après un h1
h1 em {} : cible les em à l'intérieur d'un h1
*/

/* 
x:focus { background-color : blue; } => quand on sélectionne x, son background devient bleu 
utile pour les inputs des formulaires par exemple
*/

/*
position => relative (pour décaler), absolute (pour déplacer où on veut sur la page) et fixed(pour que ça apparaisse h24)
float
display
*/

td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}

table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

/* Media queries 
        permettent aux sites de s'adapter aux différentes tailles d'écran
        on peut par ex avoir 2 fichiers css (genre petite_resolution.css et grande_resolution.css)
        ou on peut écrire des règles media queries dans le fichier css
*/
@media screen and (max-width: 1200px) {
    body{
        width: auto;
    }
    /*
    On peut mettre certains blocs en-dessous d'autres
    faire disparaitre des images
    etc
    */
}
